<% if current_user %>
  <%= render 'toppages/timeline'%>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to TWTR CLIENT</h1>
    <%= link_to "Login with Twitter", '/auth/twitter', class: "btn btn-lg btn-primary" %>
  </div>
<% end %>